.leaflet-div-icon{
  background-color: transparent;
  border:unset;
}
body[arco-theme='dark'] {
  .leaflet-layer {
    filter: grayscale(100) invert(100);
  }
}

li{
  list-style: none;
}
iframe{
  border: unset;
}
.arco-table-size-small{
  .arco-table-th-title,.arco-table-td-content{
    font-size: 12px;
  }

}